@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Lato&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

/* font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  text-align: justify;
}

:root {
  --bgm: linear-gradient(to right, #ff9190, #ffdd94);
  --bg1: #4270f9;
  --txt1: rgb(39 0 238);
}

body {
  background-color: #ff943d;
  background-image: linear-gradient(
    150deg,
    #ff943d 7%,
    #efefef 47%,
    #7bff70 91%
  );
  color: var(--txt1);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: var(--bg1);
  color: #fff;
  padding: 10px;
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  z-index: 10;
  font-size: 1.4vmax;
  font-family: "Kanit", sans-serif;
}

/* nav */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: rgb(226, 4, 255);
}

/* main  */

main {
  /* padding: 80px; */
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2vmax;
}

/* intro */

#intro h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3vmax;
  color: #7013f0;
  margin: 10px;
  margin-top: 20px;
  text-shadow: -2px 1px #ff2f00;
}

.flip-card {
  width: 22vw;
  height: 24vw;
  /* padding-left: 33%; */

  overflow: hidden;
  margin: 5% auto;
  cursor: pointer;
}

.flip-card img {
  flex: 1;
  display: flex;
  overflow: hidden;
  border-radius: 15px;
}

.flip-card img {
  max-width: 100%;
  max-height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #a3a3a3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg1);
  color: #fff;
  border: 1px solid #9e579d;
  transform: rotateY(180deg);
}

.flip-card-front img {
  /* border: 2px solid chartreuse; */
  border-radius: 20px;
  width: 250px;
}

section {
  margin-bottom: 30px;
}

.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info p {
  margin-bottom: 10px;
}

li {
  margin: 10px 0;
}

#achievements h2,
#intro h2,
#quotes h2,
#writing h2,
#awards h2 {
  color: #f36a01;
  text-decoration: underline;
  margin-bottom: 10px;
}

#quotes blockquote {
  font-style: italic;
  color: #f36a01;
}
#quotes p {
  font-weight: normal;
  color: #f36a01;
  font-size: 1.2rem;
  position: relative;
  right: 0;
  text-align: right;
  margin-bottom: 10px;
}

footer {
  background-color: #303a53;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: auto;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .flip-card {
    width: 100%;
    padding: 0;
  }

  .flip-card img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .flip-card {
    width: 28vw;
    height: 30vw;
  }
}
